body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 100;
}

p {
  text-align: center;
}

/* nav styling */

.nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
  background-color: white;
  box-shadow: 2px 4px 8px 0 rgba(0,0,0,.1);
}

.nav img {
  border-radius: 2rem;
  width: 2rem;
  margin: 0 1rem;
}

.nav p {
  padding: 0 1rem;
}

.nav button {
  margin: 0 1rem;
  background-color: white;
  border: 1px solid #eaeaea;
  padding: 0.5rem 2rem;

}

.nav button:hover {
  background-color: #eaeaea;
  border: 1px solid #dadada;
}

/* question styling */


.question {
  padding: 1rem;
}


/* user styling */

.login {
  display: block;
}

.login h1 {
  text-align: center;
  padding: 5rem;
}

.login ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user {
  position: relative;
  display: flex;
  border: 1px solid #eaeaea;
  margin-right: -1px;
  cursor: pointer;
}

.user img {
  filter: opacity(0.2);
  border-radius: 10rem;
  padding: 2rem;
  width: 7rem;
  height: 7rem;
}

.user:hover {
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,.1);
}
.user:hover > img  {
  filter: opacity(1);
}

.user:hover > p  {
  top: 85%;
}

.user p {
  transition:  0.5s ease;
  font-weight: 400;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
}
