body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 100;
}

p {
  text-align: center;
}

/* nav styling */

.nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 5rem;
  background-color: white;
  box-shadow: 2px 4px 8px 0 rgba(0,0,0,.1);
}

.user-menu, .links  {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link {
  text-decoration: none;
  padding: 0 2rem;
  color: black;
}

.link:hover {
  color: #a494ef;
}

.nav img {
  border-radius: 2rem;
  width: 2rem;
  margin: 0 1rem;
}

.nav p {
  padding: 0 1rem;
}

.nav button {
  margin: 0 1rem;
  background-color: white;
  border: 1px solid #eaeaea;
  padding: 0.5rem 2rem;

}

.nav button:hover {
  background-color: #eaeaea;
  border: 1px solid #dadada;
}
/* leaderBoard styling */

.leaderboard {
  margin: 10rem auto;
  box-shadow: 2px 4px 8px 0 rgba(0,0,0,.1);
}

.leaderboard th {
  font-weight: 400;
}

.leaderboard td, .leaderboard tr, .leaderboard th {
  border: 1px solid #eaeaea;
  padding: 2rem;
  vertical-align: middle;
  min-width: 10rem;
}

.leaderboard tbody {
  text-align: center;
}
.leaderboard img {
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
}

/* Question detail styling */
.question-detail-link {
  display: flex;
  width: 1100px;
  margin: 10rem auto;
}

.question-detail-link a {
  border: 1px solid #eaeaea;
  padding: 2em;
  height: 1rem;
  text-decoration: none;
  transition: box-shadow 0.2s ease;
}

.question-detail-link a .icon {
  margin-right: 1rem;
  color: black;
}

.question-detail-link a:hover {
  box-shadow: 2px 4px 8px 0 rgba(0,0,0,.1);
}

.question-detail-link a:hover .icon {
  color: #a494ef;
}

.question-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #eaeaea;
  box-shadow: 2px 4px 8px 0 rgba(0,0,0,.1);
  padding: 3rem;
  width: 40rem;
}

.question-user {
  position: relative;
  display: flex;
  margin-bottom: 2rem;
}

.question-social {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1rem;
}

.question-social .icon {
  margin-left: 1rem;
}

.question-user img {
  border-radius: 2rem;
  width: 3rem;
  height: 3rem;
}

.question-name-date {
  align-self: center;
  margin-left: 1rem;
}

.question-user p {
  text-align: left;
  padding: 0.2rem;
}

.question-title h1 {
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
}

.question-option {
  display: flex;
  margin: 1rem 0;
}

.question-option p {
  margin-right: 1rem;
}

.question-select-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.question-select-form select, .question-select-form input {
  display: flex;
  padding: 1rem 2rem;
  border: 1px solid #eaeaea;
  background-color: white;

}

.question-select-form select:focus, .question-select-form option:focus {
  outline: none;
}


/* Create question styling */

.add-question {
  border: 1px solid #eaeaea;
  box-shadow: 2px 4px 8px 0 rgba(0,0,0,.1);
  width: 30rem;
  margin: 10rem auto;
  padding: 2rem;
}

.add-question h1 {
  text-align: center;
  padding: 1rem;
}

.add-question form {
  display: flex;
  flex-direction: column;
}

.add-question form input {
  margin: 0.5rem 1rem;
}
/* dashboard styling */

.dashboard {
  max-width: 1100px;
  margin: 0 auto;
}

.dashboard ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  width: 100%;
}

.dashboard h1 {
  cursor: pointer;
  transition: color 0.5s ease;
}

.dashboard h1:hover {
  color: #a494ef;
}

.dashboard li {
  display: flex;
  justify-content: center;
  width: 33%;
}

.filter {
  display: flex;
  justify-content: center;

}

.dashboard .filter h1 {
  text-align: center;
  padding: 1rem;
  margin-top: 10rem;
}

.question {
  position: relative;
  display: flex;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #e8e8e8;
  width: 20rem;
  height: 10rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.2s ease;
}

.question-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.social-medias {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1rem;
}

.social-medias .icon {
    padding: 0.5rem;
}

.question:hover {
  box-shadow: 8px 8px 16px 0 rgba(0,0,0,.1);
}

.question h2 {
  font-weight: 500;
}

.question p {
  text-align: left;
}

/* user styling */

.login {
  display: block;
}

.login h1 {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 1rem;
}
.login h2 {
  text-align: center;
  padding-bottom: 4rem;
}

.login ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user {
  position: relative;
  display: flex;
  border: 1px solid #eaeaea;
  margin-right: -1px;
  cursor: pointer;
}

.user img {
  filter: opacity(0.2);
  border-radius: 10rem;
  padding: 2rem;
  width: 7rem;
  height: 7rem;
}

.user:hover {
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,.1);
}
.user:hover > img  {
  filter: opacity(1);
}

.user:hover > p  {
  top: 85%;
}

.user p {
  transition:  0.5s ease;
  font-weight: 400;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
}
