body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 100;
}

p {
  text-align: center;
}

/* nav styling */

.nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 5rem;
  background-color: white;
  box-shadow: 2px 4px 8px 0 rgba(0,0,0,.1);
}

.user-menu, .links  {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link {
  text-decoration: none;
  padding: 0 2rem;
  color: black;
}

.link:hover {
  color: #a494ef;
}

.nav img {
  border-radius: 2rem;
  width: 2rem;
  margin: 0 1rem;
}

.nav p {
  padding: 0 1rem;
}

.nav button {
  margin: 0 1rem;
  background-color: white;
  border: 1px solid #eaeaea;
  padding: 0.5rem 2rem;

}

.nav button:hover {
  background-color: #eaeaea;
  border: 1px solid #dadada;
}

/* dashboard styling */

.dashboard {
  max-width: 1100px;
  margin: 0 auto;
}

.dashboard ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 7rem;
  width: 100%;
}

.dashboard li {
  display: flex;
  justify-content: center;
  width: 33%;

}

.question {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #dadada;
  width: 20rem;
  height: 10rem;
}

.question p {
  text-align: left;
}

/* user styling */

.login {
  display: block;
}

.login h1 {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 1rem;
}
.login h2 {
  text-align: center;
  padding-bottom: 4rem;
}

.login ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user {
  position: relative;
  display: flex;
  border: 1px solid #eaeaea;
  margin-right: -1px;
  cursor: pointer;
}

.user img {
  filter: opacity(0.2);
  border-radius: 10rem;
  padding: 2rem;
  width: 7rem;
  height: 7rem;
}

.user:hover {
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,.1);
}
.user:hover > img  {
  filter: opacity(1);
}

.user:hover > p  {
  top: 85%;
}

.user p {
  transition:  0.5s ease;
  font-weight: 400;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
}
